.carousel-inner img {
    width: 100%;
    height: 910px;
}

#LoginBtn {
    border-radius: 50px;
    border: 2px solid #F88634;
    background-color: white;
    color: #F88634;
    height: 48px;
    font-size: 20px;
    
}

.form-group {
    font-size: 22px;
    font-family: 'Segoe UI';
}

#staticNames {
    color: #414141;
    padding-bottom: 10px;
    font-size: 20px;
}

#InputEmail1{
    height: 56px;    
}

@media screen AND (max-width:991px) {
    .row{
        margin-top: 10px;
    }

    .carousel-inner img {
        height: 100%;
    }

    #form{
        margin-left: 4px;
    }
}

@media screen AND (max-width:767px) {
    .carousel-inner img {
        margin: 5px;
    }
}