.carousel-inner img {
    width: 100%;
}

#LoginBtn {
    border-radius: 50px;
    border: 2px solid #F88634;
    background-color: white;
    color: #F88634;
    height: 48px;
    font-size: 20px;
    margin-top: 40px;
}

.form-group {
    font-size: 22px;
    font-family: 'Segoe UI';
}

#staticNames {
    color: #414141;
    padding-bottom: 10px;
    font-size: 20px;
}

.lostNewAcc{
    position: relative;
    margin-top: 17px;
    text-align: center;
}

#InputEmail1{
    height: 56px;    
}

#InputPassword1{
    height: 56px;
}

#newPass{
    margin-top: 15px;
}

@media screen and (max-width : 991px) {
    .row{
        margin-top: 10px;
    }

    #form{
        margin-left: 30px;
    }
}
